<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <script src="https://unpkg.com/@shopify/app-bridge@2"></script>
  <script type="text/javascript">
    // Initialise the Shopify App.
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.default;
    var app = createApp({
      "apiKey": "<%= ShopifyApp.configuration.api_key %>",
      "shopOrigin": "<%= @current_shopify_session.domain if @current_shopify_session %>",
      "debug": <%= Rails.env.development? ? 'true' : 'false' %>,
      "forceRedirect": false
    });
  </script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= yield :extra_head %>
</head>
<body>

<%= yield %>

</body>
</html>
